body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.menu , .usuariosContent , .productosContent{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li, .usuariosContent li , .productosContent li {
    display: inline;
    margin-right: 10px;
}

.menu button , .usuariosContent button , .productosContent button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.container_index {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_index h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="email"],
							   
.form-group input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button[type="submit"] {				   
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
								 
    background-color: #0056b3;
}

#message {
    text-align: center;
    color: red;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

.container h2 {
    text-align: center;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container select {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container .button-container {
    text-align: center; 
    
}

.container .submit-button,
.container .return-button,
.change-button,
#devolverUsuariosBtn,
#devolverProductoBtn {
    width: 200px; 
    padding: 8px; 
    margin: 5px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container .submit-button:hover,
.container .return-button:hover,
.container .change-button:hover {
    background-color: #0056b3;
}

/* Estilos para la tabla */
#usuariosContainer table,
#productoContainer table {
    width: 65%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto;
}

/* Estilos para las celdas de la tabla */
#usuariosContainer th, #usuariosContainer td , #productoContainer td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Estilos para el encabezado de la tabla */
#usuariosContainer th, #productoContainer th {
    background-color: #007bff;
    color: white;
}

/* Estilos alternos para filas */
#usuariosContainer tr:nth-child(even) , #productoContainer tr:nth-child(even){
    background-color: #f2f2f2;
}

/* Estilos al pasar el mouse sobre las filas */
#usuariosContainer tr:hover , #productoContainer tr:hover {
    background-color: #ddd;
}

#usuariosContainer , #productoContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#devolverUsuariosBtn,
#devolverProductoBtn {
    margin-top: 20px;
    align-self: center; 
}